In [1]:
import pandas as pd

In [10]:
sp = pd.read_csv("/Users/mike/witan.send/data/version-A/send-population.csv")

sp['state'] = sp['need'] + '-' + sp['setting']
sp.head()

   calendar-year  academic-year need setting  population  state
0           2017              1   CI      EO           1  CI-EO
1           2017              3   CI      EO           1  CI-EO
2           2017              4   CI      EO           1  CI-EO
3           2017              6   CI      EO           2  CI-EO
4           2017              7   CI      EO           1  CI-EO

In [11]:
df = sp.groupby('state').sum()
df = df.drop(['calendar-year', 'academic-year'], axis=1)
df.head(10)

          population
state
CI-EO              9
CI-EYS             3
CI-FEC            33
CI-IMS            11
CI-ISS            18
CI-ISSR            5
CI-MAP             7
CI-MMS             8
CI-MMSIB         741
CI-MMSOB          20

In [12]:
internal = pd.read_csv("/Users/mike/witan.send/data/version-A/raw/Transport-2017-Internal-Version-A-.csv")
internal['state'] = internal['Need'] + '-' + internal['Setting']
df1 = internal.groupby('state').sum().drop(['A/Y'], axis=1)
df1.head(10)

           Headcount
state
CI-FEC             1
CI-MMS             1
CI-MMSIB           8
CI-MSSIB         183
CI-MU             20
CI-OOE             1
CL-MMSIB           4
CL-MSSIB         132
CL-OOE             1
OTH-MMSIB          1

In [13]:
ex = pd.read_csv("/Users/mike/witan.send/data/version-A/raw/Transport-2017-External-Version-A-.csv")
ex['state'] = ex['Need'] + '-' + ex['Setting']
df2 = ex.groupby('state').sum().drop(['A/Y'], axis=1)
df2.head(10)

          Headcount
state
CI-IMS            2
CI-ISS           13
CI-ISSR           2
CI-MAP            2
CI-MMSIB         27
CI-MSSIB          2
CI-MSSOB         19
CI-MU             7
CI-NMSS          14
CL-EYS            1

In [14]:
df = df.rename(columns={"population": "none"})
df['internal'] = df1['Headcount']
df['external'] = df2['Headcount']
df = df.fillna(0)

In [15]:
df['none'] = df['none'] - df['internal'] - df['external']

In [16]:
df['none-proportion'] = df.none / (df.none + df.internal + df.external)
df['internal-proportion'] = df.internal / (df.none + df.internal + df.external)
df['external-proportion'] = df.external / (df.none + df.internal + df.external)

In [17]:
df.head(10)

,none,internal,external,none-proportion,internal-proportion,external-proportion
state,,,,,,
CI-EO,9.0,0.0,0.0,1.000000,0.000000,0.000000
CI-EYS,3.0,0.0,0.0,1.000000,0.000000,0.000000
CI-FEC,32.0,1.0,0.0,0.969697,0.030303,0.000000
CI-IMS,9.0,0.0,2.0,0.818182,0.000000,0.181818
CI-ISS,5.0,0.0,13.0,0.277778,0.000000,0.722222
CI-ISSR,3.0,0.0,2.0,0.600000,0.000000,0.400000
CI-MAP,5.0,0.0,2.0,0.714286,0.000000,0.285714
CI-MMS,7.0,1.0,0.0,0.875000,0.125000,0.000000
CI-MMSIB,706.0,8.0,27.0,0.952767,0.010796,0.036437
CI-MMSOB,20.0,0.0,0.0,1.000000,0.000000,0.000000

In [18]:
df.to_csv("/Users/mike/witan.send/data/transport/A-new-transport-counts-fixed.csv", index=True)